/* Estilos generales */
*{
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.titulo {
    color: white;
    text-align: center;
}

/* Estilos de navegación */

.Navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 20px;
}

.Navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Navegacion ul li {
    display: inline;
    margin-right: 20px;
}

.Navegacion ul li a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.Navegacion ul li a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.89);
}

/* Estilos de formulario y botones */

.filtro label,
.filtro select,
.filtro button {
    margin-right: 10px;
}

.crud {
    color: white;
    background-color: red;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.crud:hover {
    background-color: rgb(145, 27, 27);
}

/* Estilos de resultados de búsqueda */

.resultados {
    margin-top: 20px;
}

.resultados table {
    width: 100%;
    border-collapse: collapse;
}

.resultados th,
.resultados td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.resultados th {
    background-color: #f2f2f2;
}

/* Estilos específicos de cada página */

/* Bodega */
.bodega {
    margin-top: 20px;
}

/* Diseños */
.diseños {
    margin-top: 20px;
}

/* Editar perfil */
.editar-perfil {
    margin-top: 20px;
}

/* Estilos adicionales */

.edit-button {
    background-color: rgba(0, 162, 255, 0.658); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.submit {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.identificador {
    text-align: center; 
}

/* Estilos de filtro */

.filtro,
.filtro_ingreso {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 19px;
}

.filtro label,
.filtro_ingreso label {
    margin-right: 10px; 
}

.filtro input, 
.filtro select, 
.filtro button,
.filtro_ingreso input,
.filtro_ingreso select,
.filtro_ingreso button {
    flex: 1; 
    padding: 5px; 
}

.filtro button,
.filtro_ingreso button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.filtro button img,
.filtro_ingreso button img {
    margin-right: 5px; 
}
